<div class="container">
    <div>
        <label> <b></b></label> <img  [src]="product.productUrl" class="card-img-top" alt="Card image cap">
    </div>
    <div>
        <label> <b> ProductId: </b></label> {{product.productId}}
    </div>
    <div>
        <label> <b> ProductName: </b></label> {{product.productName}}
    </div>
    <div>
        <label> <b> ProductPrice: </b></label> {{product.productPrice}}
    </div>
    
    <div>
        <label> <b> category: </b></label> {{product.category}}
    </div>
</div>

<!-- <div class="container">
    <div class="card" *ngFor="let pr of product" style="width: 18rem;">
        <img  [src]="pr.productUrl" class="card-img-top" alt="Card image cap">
        <h5>{{pr.productId}}</h5>
        <h5>{{pr.productName}}</h5>
        <h5> {{ pr.productPrice }} </h5>
                  <h5>{{ pr.category }} </h5>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div> -->