<div class="row">
    <div class="search-p">
        <h2>FeedBack List</h2><br>
       
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search category" >
    </div>
<div class="container">
<table class = "table table-striped">
    <thead>

        <tr>
            
            <th width=100 scope="col" [appSort]="productFeedback" data-order="desc" data-name="feedbackId"> FeedBackId </th>
            <th width=100 scope="col" [appSort]="productFeedback" data-order="desc" data-name="rating"> Rating</th>
            <th width=100 scope="col" [appSort]="productFeedback" data-order="desc" data-name="feedback"> FeedBack</th>
            <!-- <th width=100 scope="col" [appSort]="productFeedback" data-order="desc data-name="actions"> Action</th> -->
            <th>Actions</th>
    
        
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor = "let p of productFeedback | filter:searchText | paginate:{
            itemsPerPage:5,
            currentPage:p} ">
           
            <td> {{ p.feedbackId }} </td>
            <td> {{ p.rating }} </td>
            <td> {{ p.feedback }} </td>
           
        
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
