* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   }
   body {
    font-family: cursive;
    /* background-color: sandybrown; */
     background-image: url(https://image.shutterstock.com/image-illustration/product-review-concept-image-text-260nw-2119341962.jpg);
   }
   a {
    text-decoration: none;

   }
   li {
    list-style: none;
   }
   